<?xml version="1.0" encoding="utf-8" ?>
<config>

    <!-- Google Analytics Tracking ID -->
    <ga_tracking_id>GA_TRACKING_ID</ga_tracking_id>

    <!-- Backend -->
    <backend>
        <protocol>http</protocol>
        <host>localhost</host>
        <port>30000</port>
        <path>/parse</path>
    </backend>

    <!-- NLS Backend -->
    <nls_backend>
        <protocol>http</protocol>
        <host>136.243.148.213</host>
        <port>3100</port>
        <path>/parse</path>
    </nls_backend>

</config>
